[submodule "themes/hugo-orbit-theme"]
	path = themes/hugo-orbit-theme
	url = https://github.com/aerohub/hugo-orbit-theme
[submodule "almeida-cv"]
	path = almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv
[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv
